syntax: glob

classes/

## os
.DS_Store
Thumbs.db
desktop.ini

## editors
.vscode
.idea
*.swp
*.tmp

## packages
node_modules/

# security
.keys
*.kdb
*.kdbx

## common
.~*
[~][$]*
*.~lock*
*.log
*.ignore
*.zip
scratch__*
.local

## python
.pytest_cache
*.py[co]
*.egg-info
