syntax: glob

## os
.DS_Store
Thumbs.db
desktop.ini

## editors
.vscode
.idea
*.swp
*.tmp

## packages
node_modules/

# security
.keys
*.kdb
*.kdbx

## common
.~*
*.~lock*
*.log
*.zip
scratch__*

## python
.pytest_cache
*.py[co]
*.egg-info
